doctype html
html
  head
    title= title
  body
    h1 All Books

    a(href="/update-cobj") Add a New Book

    table(border="1" cellpadding="6")
      tr
        th Title
        th Author
        th Summary

      each item in data
        tr
          td= item.properties.Title
          td= item.properties.Author
          td= item.properties.Summary
