doctype html
html
  head
    title= title
  body
    h1 Books List
    a(href="/add-book") Add New Book

    table(border="1" cellpadding="8")
      tr
        th Title
        th Author
        th Summary

      each book in data
        tr
          td= book.properties.Title
          td= book.properties.Author
          td= book.properties.Summary
