// views/updates.pug
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='../public/css/style.css')
  body
    a(href='/') Return to the homepage

    h1 Add New Project Record

    form(action="/update-cobj", method="POST")
      div
        label(for='name') Name (Required):
        input(type='text', id='name', name='name', required)
      
      div
        label(for='summary') Summary:
        input(type='text', id='summary', name='summary')
      
      div
        label(for='project_manager') Project Manager:
        input(type='text', id='project_manager', name='project_manager')
      
      button(type='submit') Create Record
