doctype html
html
  head
    title= title
  body
    h1 Add a New Book

    form(action="/update-cobj" method="POST")
      label Title:
      input(type="text" name="title" required)
      br

      label Author:
      input(type="text" name="author" required)
      br

      label Summary:
      textarea(name="summary" rows="4" required)
      br

      button(type="submit") Create Book

    br
    a(href="/") Back to homepage
